* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: black;
    font-size: 16px;
}

.grid-layout {
    display: grid;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    justify-content: stretch;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: 20% 60% 20%;
}

#titulo {
    font-family: 'Source Code Pro', 'helvetica';
    color: white;
    text-align: center;
    grid-column: 1/4;
    line-height: 110px;
    letter-spacing: 2px;
    font-size: 1.7em;
}

textarea {
    font-family: 'Source Code Pro';
    font-style: italic;
    font-size: medium;
    color: whitesmoke;
    background-color: black;
    border-color: black;
    margin:5%;
    width: 90%;
    height: 90%;
    border: none;
    overflow: auto;
    outline: none;
    font-size: 1.1em;
}

::placeholder {
    color: gray;
}

#resultado {
    background-color:rgba(128, 128, 128, 0.295);
    margin:5%;
    width: 90%;
    max-height: 90%;
    overflow-y: auto;
}

p {
    font-family: 'Source Code Pro', 'helvetica';
    max-height: 100%;
    width: 100%;
    font-size: 1.1em;
    color: whitesmoke;
    padding: 0 3%;
    text-align:left;
}

#encriptar-desencriptar, #copiar {
    display: flex;
    justify-content:space-around ;
    flex-wrap: wrap;
}

#copiar {
    grid-column: 3/4;
}

#igual {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linea-blanca {
    width: 50%;
    height: 3%;
    background-color: whitesmoke;
    margin: 0 25%;
}

.medio {
    width: 100%;
    height: 3%;
    background-color: black;
}

button {
    color: whitesmoke;
    background-color: black;
    font-family: 'Source Code Pro', 'helvetica';
    width: 40%;
    height: 30%;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: medium;
    border: white solid 1px;
    border-radius: 3%;
    font-size: 1.3em;
}

button:hover {
    background-color:whitesmoke ;
    color: black;
}

@media (max-width: 600px) {
    body {
        font-size: 10px;
    }
}